/* common */
#wrap {
    position: relative;
    width: 100%;
    height: 100vh;
}

/* font color */
.point-color {
    color: #E2973F!important;
}
.btn-wrap {
    width: 100%;
}
/* button */
.btn-wrap [class*="btn"] {
    font-weight: 500;
    background: #fff;
    width: 100%;
    max-width: 70px;
    min-height: 40px;
    border-radius: 10px;
}
.btn-wrap [class*="btn"].mid {
    max-width: 150px;
    height: 60px;
    line-height: 60px;
    font-size: 25px;
}
.btn-wrap [class*="btn"].wide {
    max-width: 372px;
    height: 60px;
    line-height: 60px;
    font-size: 25px;
}
.btn-wrap [class*="btn"].bg-bk {
    background: #222;
    color: #fff;
    transition: all .1s ease-in-out;
}
.btn-wrap [class*="btn"].bg-bk:hover {
    background: #E2973F;
    color: #fff;
}

.inner-wrap {
    max-width: 1156px;
    padding: 0 15px 150px;
    margin: 0 auto;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    margin-bottom: 80px;
}
.header .logo > p {
    font-size: 30px;
    font-weight: 500;
}
.header > a {
    color: #222;
}
.tit-wrap p + h2 {
    margin-top: 25px;
}
.tit-wrap h2 {
    font-size: 35px;
    font-weight: 400;
    line-height: 1.2;
}

/* 푸터 */
.footer {
    position: fixed;
    bottom: 5%;
    width: 100%;
    text-align: center;
    color: #999;
}
.footer .logo {
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: 500;
}
.inner-wrap + .footer {
    position: relative;
    bottom: auto;
    padding-bottom: 30px;
}

/* 랜딩페이지 */
.landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: url('../static/landing-bg.png')no-repeat center 100%;
    background-size: cover;
    text-align: center;
}
.landing .article-img {
  animation: slideUp 1s;  
  animation-fill-mode: forwards;
}
.landing .page-title .logo {
    line-height: 1.1;
    font-weight: 700;
    font-size: 60px;
}
.landing .page-title .logo > p + p {
    transform: translateX(-25px);
    animation: logoSlide 3s;
    animation-fill-mode: forwards;
}
.landing .page-title .logo > p > span {
    opacity: 0;
    animation: show 3s;
    animation-fill-mode: forwards;
}
.landing .page-title .logo + p {
    margin: 10px 0;
    font-size: 25px;
    color: #69592F;
}
.landing .page-title .logo + p span {
    font-size: 30px;
}

/* 설문조사 */
.survey-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.survey-wrap .tit {
    font-size: 40px;
    font-weight: 600;
}
.survey-wrap .btn-wrap {
    margin-top: 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.survey-wrap .select-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 60px;
    max-width: 350px;
    text-align: center;
}
.survey-wrap.step3 .select-btn .btn {
    padding: 15px 20px;
    font-size: 25px;
    background: #222;
    border-radius: 10px;
    color: #fff;
    text-align: center;
}
.survey-wrap.step3 .select-btn .btn:nth-child(even){
    background:#E2973F;
}

/* music list */
.recheck-btn > a{
    display: flex;
    align-items: center;
    color: #666;
}
.recheck-btn > a:after {
    content: '';
    display: inline-block;
    background: url('../static/arrow-right.svg')no-repeat center 100%;
    width: 20px;
    height: 20px;
    margin-bottom: 2px;
}
.recommend-music .music-list {
    margin-top: 50px;
}
.recommend-music .music-list .status {
    margin-bottom: 20px;
    text-align: right;
    color: #999;
    font-weight: 500;
}
.recommend-music .music-list .status .num {
    color: #222;
}
.recommend-music .music-list ul {
    display: grid;
    grid-template-columns: repeat(6, minmax(100px, 1fr));
    gap: 40px 20px;
}
.recommend-music .music-list li {
    transition: all .2s ease-in-out;
}
.recommend-music .music-list li:hover {
    transform: translateY(-5px);
    opacity: .7;
}
.recommend-music .music-list li > a {
    width: 100%;
}
.recommend-music .music-list li .cover button {
    width: 100%;
}
.recommend-music .music-list li .info {
    margin-top: 10px;
}
.recommend-music .music-list li .info .title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 18px;
    font-weight: 500;
}
.recommend-music .music-list li .info .artist {
    margin-top: 5px;
    color: #999;
}
.recommend-music .music-list li .info .func {
    margin-top: 20px;
}
.recommend-music .music-list li .info .func span {
    color: #999;
}
.recommend-music .music-list li .info .func span + span {
    margin-left: 20px;
}
.recommend-music .music-list li .info .func .chat:after {
    content: '';
    display: inline-block;
    background: url('../static/tooltip.svg')no-repeat center 100%;
    width: 20px;
    height: 20px;
    margin: 0 0 -4px 2px;
}
.recommend-music .music-list li .info .func .like:after {
    content: '';
    display: inline-block;
    background: url('../static/like.svg')no-repeat center 100%;
    background-size: 20px;
    width: 20px;
    height: 20px;
    margin: 0 0 -3px 2px;
}

/* 상세페이지 */
.music-detail .music-wrap {
    display: flex;
    gap: 0 40px;
  }
  .music-detail .music-wrap > div {
    flex: 1;
  }
  .music-detail .album-cover {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 372px;
    font-size: 0;
  }
  .music-detail .album-cover .play-btn {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: 372px;
    z-index: 8;
  }
  .music-detail .album-cover .play-btn::before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    z-index: 10;
    background: url('../static/play.svg')no-repeat center 100%;
    opacity: 0;
    transition: all .2s ease-in-out;
  }
  .music-detail .album-cover .play-btn::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: 9;
    background-color: rgba(0,0,0,0);
    transition: all .2s ease-in-out;
  }
  .music-detail .album-cover .play-btn:hover::before {
    opacity: 1;
  }
  .music-detail .album-cover .play-btn:hover::after {
    background-color: rgba(0,0,0,.2);
  }
  .music-detail .status {
    color: #999;
    font-size: 16px;
  }
  .music-detail .tag-list {
    display: flex;
    align-items: center;
    gap: 0 8px;
    margin-top: 10px;
  }
  .music-detail .tag-list li {
    padding: 8px 10px;
    background: #eee;
    color: #999;
    font-size: 14px;
    border-radius: 5px;
  }
  .music-detail .album-info {
    margin-top: 40px;
  }
  .music-detail .album-info .title {
    font-size: 30px;
    font-weight: 500;
    color: #222;
  }
  .music-detail .album-info .dis-flx {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
  }
  .music-detail .album-info .artist {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 400;
    color: #999;
  }
  .music-detail .album-info .like {
    display: block;
    position: relative;
    margin-top: 20px;
    font-size: 20px;
    color: #999;
    text-align: right;
    padding-right: 15px;
  }
  .music-detail .album-info .like button:after {
  content: '';
  position: absolute;
  right: 0;
  top: -7px;
  display: inline-block;
  background: url('../static/like.svg')no-repeat center 100%;
  background-size: 30px;
  width: 30px;
  height: 30px;
  margin: 0 0 -3px 2px;
}
  .music-detail .info-cont {
    margin-top: 10px;
    padding-top: 20px;
    border-top: 1px solid #eee;
    color: #888;
    font-size: 16px;
    line-height: 1.4;
    word-break: keep-all;
  }
  .comment-wrap {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    padding: 40px;
    margin-top: 80px;
    border: 1px solid #eee;
    border-radius: 5px;
  }
  .comment-wrap .tit {
    font-size: 20px;
    font-weight: 500;
  }
  .comment-wrap .input-form {
    position: relative;
    width: 100%;
    margin-top: 60px;
  }
  .comment-wrap .input-form input {
    padding: 9px 50px 10px 8px;
    background: #fff;
    width: 100%;
    border: none;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
    font-size: 16px;
  }
  .comment-wrap .input-form input::placeholder {
    color: #ddd;
  }
  .comment-wrap .input-form button {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    font-weight: 500;
  }
  .comment-wrap form {
    flex: 1;
  }
  .comment-list-wrap {
    flex: 1;
    height: 200px;
    padding-right: 15px;
    overflow-y: scroll;
  }
  .comment-list-wrap::-webkit-scrollbar {
    width: 5px;
    background-color: #eee;
  }
  .comment-list-wrap::-webkit-scrollbar-thumb {
    background: #999;
  }
  .comment-list-wrap .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    flex: 1;
  }
  .comment-list-wrap .item .date {
    color: #999;
  }
  .comment-list-wrap .item ~ .item {
    margin-top: 15px;
  }

/* animation */
@keyframes slideUp {
    0% {
        transform: translateY(40px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes logoSlide {
    50% {
        transform: translateX(-25px);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes show {
    80% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media(max-width: 900px) {
    .recommend-music .music-list ul {
        grid-template-columns: repeat(4, minmax(100px, 1fr));
        gap: 40px 10px;
    }
    .comment-wrap {
        flex-direction: column;
        padding: 30px 20px;
    }
    .comment-wrap .input-form {
        margin-top: 40px;
    }
}
@media(max-width: 600px) {
    .recommend-music .music-list ul {
        grid-template-columns: repeat(3, minmax(100px, 1fr));
    }
    .music-detail .music-wrap {
        flex-direction: column;
    }
    .music-detail .music-wrap .music-info {
        margin-top: 40px;
    }
}
@media(max-width: 450px) {
    .tit-wrap p + h2 {font-size: 25px;}
    .recommend-music .music-list ul {
        grid-template-columns: repeat(2, minmax(100px, 1fr));
    }
}