<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>감정 딴따라 | Landing Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div id="wrap">
        <!-- 랜딩페이지 -->
        <div class="landing">
            <div class="page-title">
                <div class="logo"><p>감정</p><p><span class="point-color">딴</span>따라</p></div>
                <p>지금 당신의 <span>감정</span>은 어떠신가요?</p>
            </div>
            <article class="article-img">
                <img src="{{ url_for('static', filename='tape.png') }}" alt="꾸밈요소 이미지입니다.">
            </article>
            <div class="btn-wrap">
                <a href="{{ url_for('survey1')}}" class="play-btn bg-bk mid">플레이</a>
            </div>
        </div>
        <!-- 푸터영역 -->
        <div class="footer">
            <p class="copy">music that you listen to according to your feelings</p>
        </div>
    </div>
</body>
</html>