<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>감정 딴따라 | 음악추천 상세페이지</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='reset.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <style>
    .music-detail {
      display: flex;
      gap: 0 20px;
    }
    .music-detail .left {
      width: 100%;
      max-width: 372px;
    }
    .music-detail .album-cover a {
      width: 100%;
    }
    
  </style>
  <body>
    <div id="wrap">
      <div class="inner-wrap">
        <!-- header -->
        <header class="header">
          <div class="logo">
            <p>감정<span class="point-color">딴</span>따라</p>
          </div>
          <a href="{{ url_for('home')}}"
            ><img src="{{ url_for('static', filename='home.svg') }}" alt=""
          /></a>
        </header>
        <!-- 음악 추천 상세 -->
        <div class="music-detail">
          <!-- 음악정보 -->
          {% for song in song %}
          <div class="left">
            <div class="album-cover">
              <a href="{{song.video_url}}" class="play-btn">
                <img src="{{song.image_url}}" alt="앨범커버">
              </a>
            </div>
          </div>
          <div class="right">
            <article class="article-wrap">
              <p class="status">
                현재 <span class="num">18</span>명이
                <span class="emotion point-color">결별</span>로 같은 감정을
                느껴요!
              </p>
              <ul class="tag-list">
                <li>슬픔</li>
                <li>결별</li>
                <li>실패</li>
                <li>비도오고 그래서...</li>
              </ul>
            </article>
            <div class="album-info">
              <p class="title">{{song.title}}</p>
              <div class="dis-flx">
                <p class="artist">{{song.artist}}</p>
                <span class="like">293</span>
              </div>
              <p class="info-cont">{{song.music_content}}</p>
            </div>
            <!-- 한줄감상평 -->
            <div class="comment-wrap">
              <h3 class="tit">한줄 감상평</h3>
              <form action="{{url_for('review_create', song_id = song.id)}}" method="POST">
                <div class="input-form">
                  <label for="comment">
                    <input type="text" name="review_content" placeholder="당신의 한줄 감상평을 입력해주세요.">
                  </label>
                  <button type="submit">입력</button>
                </div>
              </form>
            </div>
            <div>
              {% for review in review %}
              <p>{{review.review_content}}</p>
              <p>{{review.date}}</p>
              {% endfor %}
            </div>
          </div>
          {% endfor %}
        </div>
      </div>

      <div class="footer">
        <div class="logo">
          <p>감정</p>
          <p><span class="point-color">딴</span>따라</p>
        </div>
        <p class="copy">music that you listen to according to your feelings</p>
      </div>
    </div>
  </body>
</html>
