<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>감정 딴따라 | 현재 당신의 감정은?</title>
    <link href="/static/tape.png" rel="shortcut icon" type="image/x-icon" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='reset.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <div id="wrap" class="global-bg">
      <!-- 설문조사 step2 -->
      <div class="survey-wrap step3">
        <!-- 감정 별로 멘트 분류 -->
        {% if emotion == '슬픔' %}
        <h2 class="tit">
          "나의
          <span class="emotion"
            ><span class="point-color">{{emotion_list}}</span>한</span
          >
          감정은?!"
        </h2>
        {% elif emotion == '행복' %}
        <h2 class="tit">
          "나의
          <span class="emotion"
            ><span class="point-color">{{emotion_list}}</span>이 가득한 </span
          >감정은?!”
        </h2>
        {% elif emotion == '분노' %}
        <h2 class="tit">
          "나의
          <span class="emotion"
            ><span class="point-color">{{emotion_list}}</span> 이 드는</span
          >
          감정은?!”
        </h2>
        {% endif %}
        <!-- 선택한 음악에 대해 리스트 보여주도록 변경 -->
        <div class="select-btn">
          {% for feel_list in feel_list %} {% if feel_list.feeling ==
          emotion_list %}
          <form
            action="{{url_for('music' ,  emotion = emotion, emotion_list = emotion_list , feel_detail = feel_detail,feeling_detail_cnt= feeling_detail_cnt) }}"
            method="GET"
          >
            <input type="hidden" name="emotion" value="{{emotion}}" />
            <input type="hidden" name="emotion_list" value="{{emotion_list}}" />
            <input
              type="hidden"
              name="feel_detail"
              value="{{feel_list.feeling_detail}}"
            />
            <input
              type="hidden"
              name="feeling_detail_cnt"
              value="{{feel_list.feeling_detail_cnt}}"
            />
            <button type="submit" class="btn">
              {{feel_list.feeling_detail}}
            </button>
          </form>
          {% endif %} {% endfor %}
        </div>
      </div>
      <!-- 푸터영역 -->
      <div class="footer">
        <div class="logo">
          <p>감정</p>
          <p><span class="point-color">딴</span>따라</p>
        </div>
        <p class="copy">music that you listen to according to your feelings</p>
      </div>
    </div>
  </body>
</html>
